@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    text-align: center;
    background-color: #232423;
}

* {
    box-sizing: border-box;
    font-family: "Rubik", system-ui, sans-serif;
    color: white;
}

:root {
    --progress-bar-width: 300px;
    --progress-bar-height: 300px;
    --font-size: 2rem;
}

.circular-progress {
    width: var(--progress-bar-width);
    height: var(--progress-bar-height);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    position: absolute;
    width: calc(var(--progress-bar-width) - 30px);
    height: calc(var(--progress-bar-height) - 30px);
    border-radius: 50%;
    background-color: black;
}

.percentage {
    position: relative;
    font-size: var(--font-size);
    color: white;
}

.album-cover {
    height: 100%;
    margin-right: 10px;
    aspect-ratio: 1 / 1;
}

.song {
    height: 75px;
    width: 100%;
    align-items: center;
    display: flex;
    animation: fadein 700ms;
}

.song .title {
    font-size: 20px;
    font-weight: bolder;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#samesongs {
    float: right;
    width: 50%;
    margin: 20px;
}