@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    text-align: center;
    background-color: #232423;
}

* {
    box-sizing: border-box;
    font-family: "Rubik", system-ui, sans-serif;
    color: white;
}

:root {
    --progress-bar-width: 300px;
    --progress-bar-height: 300px;
    --font-size: 2rem;
}

.circular-progress {
    width: var(--progress-bar-width);
    height: var(--progress-bar-height);
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    position: absolute;
    width: calc(var(--progress-bar-width) - 30px);
    height: calc(var(--progress-bar-height) - 30px);
    border-radius: 50%;
    background-color: #141414;
}

.percentage {
    position: relative;
    font-size: var(--font-size);
    color: white;
}

.song .icon {
    height: 100%;
    margin-right: 10px;
    aspect-ratio: 1 / 1;
}

.song,.playlist {
    height: 75px;
    width: 100%;
    align-items: center;
    display: flex;
    animation: fadein 1.5s;
    text-decoration: none;
}

.song {
    transition: ease 100ms;
}

.song:hover {
    opacity: 0.5;
    cursor: pointer;
}

.playlist.clickable:hover {
    opacity: 0.5;
    cursor: pointer;
}

.playlist {
    width: fit-content;
    display: inline-flex;
    margin-right: 10px;
    height: 50px;
}

#listViewer {
    margin: auto;
    width: fit-content;
}

.song .title {
    font-size: 20px;
    font-weight: bold;
}

.playlist .title {
    font-size: 20px;
    font-weight: bold;
}

.playlist .icon {
    height: 100%;
    margin-right: 10px;
    aspect-ratio: 1 / 1;
}

.playlist.header {
    border-bottom: 1px solid white;
    display: flex;
    margin: 10px;
    margin-left: 0px;
}



@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loadin {
    0% {
        opacity: 0;
        transform: translate(0,10%);
    }

    100% {
        opacity: 1;
    }
}

input {
    display: block;
    margin: auto;
}

input,button {
    background-color: #141414;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.samesongs {
    float: right;
    width: 50%;
    margin: 20px;
}

.artist .icon {
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    width: 100px;
    margin: auto;
    display: block;
}

.artist .title {
    font-size: 25px;
    font-weight: bolder;
}

.artist {
    display: inline-block;
    width: fit-content;
    padding: 30px;
    animation: fadein 1.5s;
    cursor: pointer;
    border-radius: 20px;
    transition: ease 100ms;
}

.artist:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.artist.selected {
    background-color: white;
}

.artist.selected .title {
    color: black;
}

#results {
    animation: loadin 500ms ease-out;
}

.genre {
    background-color: #141414;
    border-radius: 30px;
    padding: 10px;
    width: fit-content;
    display: inline-block;
    margin: 3px;
}

button {
    cursor: pointer;
}

.loginBtn {
    border-radius: 20px;
}

.left {
    display: inline-block;
    width: 30%;
}

@media only screen and (max-width: 600px) {
    .samesongs {
        width: 90% !important;
    }

    .left {
        width: 100% !important;
    }
}

#myLists {
    margin: auto;
    width: 70%;
}