body {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --progress-bar-width: 200px;
    --progress-bar-height: 200px;
    --font-size: 2rem;
  }
  
  .circular-progress {
    width: var(--progress-bar-width);
    height: var(--progress-bar-height);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner-circle {
    position: absolute;
    width: calc(var(--progress-bar-width) - 30px);
    height: calc(var(--progress-bar-height) - 30px);
    border-radius: 50%;
    background-color: red;
  }
  
  .percentage {
    position: relative;
    font-size: var(--font-size);
    color: rgb(0, 0, 0, 0.8);
  }
  
  .album-cover {
    height: 100%;
    margin-right: 10px;
    aspect-ratio: 1 / 1;
  }

  .song {
    height: 75px;
    width: 100%;
    align-items: center;
    display: flex;
    animation: fadein 100ms;
  }

  .song .title {
    font-size: 20px;
    font-weight: bolder;
  }

  @keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
  }